<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>person</mat-icon>
      Clientes
    </ng-template>
    <app-cliente-lista></app-cliente-lista>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>restaurant</mat-icon>
      Ingredientes
    </ng-template>
    <app-ingrediente-lista></app-ingrediente-lista>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>shopping_cart</mat-icon>
      Encomendas
    </ng-template>
    <app-encomenda-lista></app-encomenda-lista>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>cake</mat-icon>
      Receitas
    </ng-template>
    <app-receita-lista></app-receita-lista>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>calendar_today</mat-icon>
      Agenda
    </ng-template>
    <app-calendar></app-calendar>
  </mat-tab>
</mat-tab-group>